# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
venv/
env/
.venv/
.*env*/

# Data
sample_docs/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Output files
outputs/*.json
outputs/*.csv
outputs/*.md
